<div layout="row" layout-align="center" layout-margin layout-padding>
  <md-card class="animated fadeIn" flex="100" flex-gt-xs="50">
    <md-card-title>
      <md-card-title-text>
        <h1 class="md-headline" layout layout-align="center">ABOUT US</h1>
      </md-card-title-text>
    </md-card-title>

    <md-card-content>
      <p>
        Hi, we are two students from Brazil, <a href="https://github.com/matheussampaio">Matheus Sampaio</a> and <a href="https://github.com/lucasfevi">Lucas Vieira</a>, currently studying abroad at Illinois State University.
      </p>

      <p>
        Founded in 1987, <strong>Feed My Starving Children (FMSC)</strong> is a Christian non-profit organization committed to feeding God's children hungry in body and spirit. The approach is simple: volunteers hand-pack meals specially formulated for malnourished children, and they send them to partners around the world where they're used to operate orphanages, schools, clinics and feeding programs to break the cycle of poverty. FMSC food has reached nearly 70 countries in their history.
      </p>

      <p>
        We developed this website for our Web Development class. It's amazing, right? We're using a lot of cool frameworks, like <a href="https://angularjs.org/">AngularJS</a>, <a href="https://material.angularjs.org/latest/">Angular Material</a>, <a href="https://www.firebase.com/">Firebase</a>, <a href="https://nodejs.org/en/">NodeJS</a>, <a href="https://www.heroku.com/">Heroku</a> and many more!
      </p>

      <p>
        If you want to see some code, maybe contribute a little, <a href="https://github.com/matheussampaio/fmsc-donation">here</a> is the GitHub project.
      </p>
    </md-card-content>

  </md-card>
</div>
