table {
  background: url('../../assets/images/image.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

table, th, td {
  border: none;
  border-collapse: collapse;
}

td {
  width: 4px;
  height: 4px;
  padding: 0px;
  margin: 0px;
  background-color: rgba(255, 0, 0, 1);
}

.bought {
  background-color: rgba(255, 0, 0, 0);
}
