<div layout="column" layout-align="center">
  <div class="title" layout="row" layout-align="center">
    <h2>United States Donations</h2>
  </div>

  <div layout="row" layout-align="center">
    <datamap map="$ctrl.mapObject">
    </datamap>
  </div>

  <div layout="row" layout-align="center">
    <div class="legend type1">
      <span class="legend-title">
        0%
      </span>
    </div>
    <div class="legend type2">
      <span class="legend-title">
        20%
      </span>
    </div>
    <div class="legend type3">
      <span class="legend-title">
        40%
      </span>
    </div>
    <div class="legend type4">
      <span class="legend-title">
        60%
      </span>
    </div>
    <div class="legend type5">
      <span class="legend-title">
        80%
      </span>
    </div>
    <div class="legend">
      <span class="legend-title">
        100%
      </span>
    </div>
  </div>

</div>
