<div layout="row" layout-align="center" layout-margin layout-padding>
  <md-card flex-sm="90" flex-gt-md="50">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Register</span>
      </md-card-title-text>
    </md-card-title>

    <md-card-content>
      <form name="register">
        <div layout="column" class="input-row">
          <md-input-container>
            <label>Name</label>
            <input type="text" name="name" ng-model="$ctrl.data.name" minlength="4" md-maxlength="30" required>
            <div ng-messages="register.name.$error">
              <div ng-message="required">This is required!</div>
              <div ng-message="md-maxlength">That's too long!</div>
              <div ng-message="minlength">That's too short!</div>
            </div>
          </md-input-container>

          <md-input-container>
            <label>State</label>
            <md-select ng-model="$ctrl.data.state" required>
              <md-option ng-repeat="state in $ctrl.states" value="{{state}}">
                {{state}}
              </md-option>
            </md-select>
            <div ng-messages="$register.state.$error">
              <div ng-message="required">This is required!</div>
            </div>
          </md-input-container>

          <md-input-container>
            <label>Email</label>
            <input name="email" type="email" ng-model="$ctrl.data.email" required>
            <div ng-messages="register.email.$error" role="alert">
              <div ng-message="required">This is required!</div>
            </div>
          </md-input-container>
          <md-input-container>
            <label>Confirm Email</label>
            <input name="confirmEmail" type="email" ng-model="$ctrl.data.confirmEmail" required>
            <div ng-messages="register.confirmEmail.$error" role="alert">
              <div ng-message="required">This is required!</div>
            </div>
          </md-input-container>
          <md-input-container>
            <label>Password</label>
            <input name="password" type="password" ng-model="$ctrl.data.password" required>
            <div ng-messages="register.password.$error" role="alert">
              <div ng-message="required">This is required!</div>
            </div>
          </md-input-container>
          <md-input-container>
            <label>Confirm Password</label>
            <input name="confirmPassword" type="password" ng-model="$ctrl.data.confirmPassword" required>
            <div ng-messages="register.confirmPassword.$error" role="alert">
              <div ng-message="required">This is required!</div>
            </div>
          </md-input-container>
        </div>
      </form>
    </md-card-content>

    <md-card-actions layout="row" layout-align="end center">
     <md-button class="md-primary" ng-click="$ctrl.register()" ng-disabled="register.$invalid">Register</md-button>
   </md-card-actions>

  </md-card>
</div>
