<md-content layout="column" layout-align="center center" layout-margin layout-padding ng-cloak>
  <h3 class="md-headline">Pieces available: {{ $ctrl.available.length }}</h3>

  <form name="donate">
    <div layout="column" class="input-row">
      <md-progress-linear md-mode="determinate" value="{{$ctrl.data.progress}}"></md-progress-linear>

      <md-input-container>
        <label>Quantity</label>
        <input type="number" name="quantity" ng-model="$ctrl.data.quantity" min="1" max="{{$ctrl.available.length}}">
        <div ng-messages="donate.quantity.$error">
          <div ng-message="required">This is required!</div>
          <div ng-message="min">You should donate at least one.</div>
          <div ng-message="max">You can't donate more then {{$ctrl.available.length}}.</div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>Name</label>
        <input type="text" name="name" ng-model="$ctrl.data.name" minlength="4" md-maxlength="30" required>
        <div ng-messages="donate.name.$error">
          <div ng-message="required">This is required!</div>
          <div ng-message="md-maxlength">That's too long!</div>
          <div ng-message="minlength">That's too short!</div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>State</label>
        <input type="text" name="state" ng-model="$ctrl.data.state" minlength="4" md-maxlength="30" required>
        <div ng-messages="donate.state.$error">
          <div ng-message="required">This is required!</div>
          <div ng-message="md-maxlength">That's too long!</div>
          <div ng-message="minlength">That's too short!</div>
        </div>
      </md-input-container>

      <p class="md-body-1" ng-show="$ctrl.data.quantity">Total: {{ $ctrl.data.quantity * 25 * 0.22 | currency }}</p>

      <md-button class="md-raised" ng-click="$ctrl.checkout()">Checkout</md-button>
    </div>
  </form>

</md-content >
