<div layout="row" layout-align="center" layout-margin layout-padding>
  <md-card class="animated fadeIn" flex="100" flex-gt-xs="50" ng-if="$ctrl.ImageService.available">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Donate</span>
      </md-card-title-text>
    </md-card-title>

    <md-card-content>
      <form name="donate" method="post" target="_top" id="formDonate"
            action="https://www.sandbox.paypal.com/cgi-bin/webscr">
        <div layout="column" class="input-row">

          <div layout="row">
            <md-input-container flex>
              <label>Quantity (max {{$ctrl.ImageService.available.length}})</label>
              <input type="number" name="quantity" ng-readonly="$ctrl.LoadingService.isLoading()" ng-model="$ctrl.data.quantity" min="1" max="{{$ctrl.ImageService.available.length}}" required>
              <div class="hint" ng-show="$ctrl.data.quantity">{{ $ctrl.data.quantity * 25 }} meals, $0.22 each</div>
              <div ng-messages="donate.quantity.$error">
                <div ng-message="required">This is required!</div>
                <div ng-message="min">You should donate at least one.</div>
                <div ng-message="max">You can't donate more then {{$ctrl.ImageService.available.length}}.</div>
              </div>
            </md-input-container>

            <div>
              <md-button flex class="md-accent md-raised" ng-click="$ctrl.data.quantity = $ctrl.ImageService.available.length" ng-disabled="$ctrl.LoadingService.isLoading()">Buy Everything</md-button>
            </div>
          </div>

          <md-input-container>
            <label>Name</label>
            <input type="text" name="name" ng-readonly="$ctrl.LoadingService.isLoading()" ng-model="$ctrl.data.name" ng-change="$ctrl.checkNsfw()" ng-blur="$ctrl.checkNsfw(false)" id="inputName" minlength="4" md-maxlength="30" required>
            <div ng-messages="donate.name.$error">
              <div ng-message="required">This is required!</div>
              <div ng-message="md-maxlength">That's too long!</div>
              <div ng-message="minlength">That's too short!</div>
            </div>
          </md-input-container>

          <md-input-container>
            <label>State</label>
            <md-select ng-readonly="$ctrl.LoadingService.isLoading()" ng-model="$ctrl.data.state" required>
              <md-option ng-repeat="state in $ctrl.states" value="{{state}}">
                {{state}}
              </md-option>
            </md-select>
            <div ng-messages="$donate.state.$error">
              <div ng-message="required">This is required!</div>
            </div>
          </md-input-container>

          <md-card-actions layout="column" layout-align="center end">
            <p class="md-body-2" ng-show="$ctrl.data.quantity">Total: {{ $ctrl.data.quantity * 25 * 0.22 | currency }}</p>
            <md-button class="md-accent md-raised" ng-click="$ctrl.checkout()" ng-disabled="donate.$invalid || $ctrl.LoadingService.isLoading()">Checkout</md-button>
          </md-card-actions>

          <!-- Heroku Debug -->
          <input type="hidden" ng-if="$ctrl.debugMode" name="notify_url" value="http://fmsc-donation-debug.herokuapp.com/api/notification"/>
          <input type="hidden" ng-if="$ctrl.debugMode" name="return" value="http://fmsc-donation-debug.herokuapp.com/#/invoices"/>

          <!-- Heroku Release -->
          <input type="hidden" ng-if="!$ctrl.debugMode" name="notify_url" value="http://fmsc-donation.herokuapp.com/api/notification"/>
          <input type="hidden" ng-if="!$ctrl.debugMode" name="return" value="http://fmsc-donation.herokuapp.com/#/invoices"/>

          <!-- Localhost -->
          <!-- <input type="hidden" ng-if="!$ctrl.debugMode" name="notify_url" value="https://fmscdonation.localtunnel.me/api/notification"/> -->

          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="ZSR6EJRA63D2E">
          <input type="hidden" name="invoice" id="invoiceKey">
        </div>
      </form>
    </md-card-content>
  </md-card>

</md-content >
