<md-content layout="row" layout-align="center" layout-margin layout-padding>
  <md-card flex="100" flex-gt-xs="50" ng-if="$ctrl.data" class="animated fadeIn">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Profile</span>
      </md-card-title-text>
    </md-card-title>

    <form name="update">
      <md-card-content>
        <div layout="column">
          <md-input-container flex='auto'>
            <label>Name</label>
            <input type="text" name="name" ng-model="$ctrl.data.name" ng-disabled="$ctrl.LoadingService.isLoading()" ng-change="$ctrl.update()" minlength="4" md-maxlength="30" required>
            <div ng-messages="update.name.$error">
              <div ng-message="required">This is required!</div>
              <div ng-message="md-maxlength">That's too long!</div>
              <div ng-message="minlength">That's too short!</div>
            </div>
          </md-input-container>

          <md-input-container flex='auto'>
            <label>State</label>
            <md-select ng-model="$ctrl.data.state" ng-change="$ctrl.update()" ng-disabled="$ctrl.LoadingService.isLoading()" required>
              <md-option ng-repeat="state in $ctrl.states" value="{{state}}">
                {{state}}
              </md-option>
            </md-select>
            <div ng-messages="update.state.$error">
              <div ng-message="required">This is required!</div>
            </div>
          </md-input-container>
        </div>
      </md-card-content>

      <md-card-actions layout="row" layout-align="center">
        <md-button class="animated fadeIn md-accent" ui-sref="app.change" ng-disabled="$ctrl.LoadingService.isLoading()">
          Change Password
        </md-button>

        <div flex></div>

        <md-button class="animated fadeIn md-raised md-accent" ng-click="$ctrl.cancel()" ng-show="$ctrl.updating" ng-disabled="$ctrl.LoadingService.isLoading()">
          Cancel
        </md-button>

        <md-button class="animated fadeIn md-raised md-primary" ng-click="$ctrl.save()" ng-show="$ctrl.updating" ng-disabled="update.$invalid || $ctrl.LoadingService.isLoading()">
          Save
        </md-button>
      </md-card-actions>
    </form>
  </md-card>
</md-content>
