<md-content layout="row" layout-align="center" layout-margin layout-padding>
  <md-card flex="100" flex-gt-xs="50" ng-if="$ctrl.userLoaded" class="animated fadeIn">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Change Password</span>
      </md-card-title-text>
    </md-card-title>

    <form name="change">
      <md-card-content>
        <div layout="column" ng-if="!$ctrl.success">

          <div layout="row" layout-align="center" ng-if="$ctrl.error">
            <span class="fmsc-error md-caption" layout-padding>
              Invalid Password.
            </span>
          </div>

          <md-input-container flex='auto'>
            <label>Old Password</label>
            <input name="password" type="password" ng-model="$ctrl.data.oldPassword" ng-disabled="$ctrl.loading" required>
            <div ng-messages="change.password.$error" role="alert">
              <div ng-message="required">This is required!</div>
            </div>
          </md-input-container>

          <md-input-container flex='auto'>
            <label>New Password</label>
            <input name="password" type="password" ng-model="$ctrl.data.newPassword" ng-disabled="$ctrl.loading" ng-change="$ctrl.refresh()" required>
            <div ng-messages="change.password.$error" role="alert">
              <div ng-message="required">This is required!</div>
            </div>
          </md-input-container>

          <md-input-container flex='auto'>
            <label>Confirm New Password</label>
            <input name="password" type="password" ng-model="$ctrl.data.newConfirmPassword" ng-disabled="$ctrl.loading" ng-change="$ctrl.refresh()" required>
            <div ng-messages="change.password.$error" role="alert">
              <div ng-message="required">This is required!</div>
            </div>
          </md-input-container>
        </div>

        <div ng-if="$ctrl.success">
          <p>Password Changed.</p>
        </div>
      </md-card-content>

      <md-card-actions layout="row" layout-align="end center" ng-if="!$ctrl.success">
        <md-button type='submit' class="animated fadeIn md-raised md-accent" ng-click="$ctrl.changePassword()" ng-disabled="change.$invalid || !$ctrl.passwordMatch || $ctrl.LoadingService.isLoading()">
          Change
        </md-button>
      </md-card-actions>
    </form>
  </md-card>
</md-content>
