<div layout="row" layout-align="center" layout-margin layout-padding>
  <md-card class="animated fadeIn" flex="100" flex-gt-xs="50">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Reset Password</span>
      </md-card-title-text>
    </md-card-title>

    <form name="reset">
      <md-card-content>
          <div layout="column" class="input-row" ng-if="!$ctrl.success">

            <div layout="row" layout-align="center" ng-if="$ctrl.error.show">
              <span class="fmsc-error md-caption" layout-padding>
                {{ $ctrl.error.message[$ctrl.error.show] }}
              </span>
            </div>

            <md-input-container>
              <label>Email</label>
              <input name="email" type="email" ng-disabled="$ctrl.loading" ng-model="$ctrl.data.email" required>
              <div ng-messages="reset.email.$error">
                <div ng-message="required">This is required!</div>
              </div>
            </md-input-container>

          </div>

          <div ng-if="$ctrl.success">
            <p>If this email is valid, we'll send you a new password very soon.</p>

            <p>Thank you.</p>
          </div>
      </md-card-content>

      <md-card-actions layout="row" layout-align="end center" ng-if="!$ctrl.success">
        <md-button type="submit" class="md-primary" ng-click="$ctrl.reset()" ng-disabled="reset.$invalid || $ctrl.loading">Reset</md-button>
      </md-card-actions>
    </form>

  </md-card>
</div>
