html,
body,
md-content {
  background-color: #f5f5f5 !important;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.fmsc-error {
  color: red;
}

footer {
  color: #777;
  text-align: center;
  padding-top: 15px;
}
